@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #A7727D;
    --secondary-color: #EDDBC7;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
.container {
    width: min(100%, 1280px);
    margin-inline: auto;
    padding-inline: 20px;
}
.header_top_bar {
    background-color: var(--primary-color);
    padding: 15px 0;
}
.header_topbar_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header_contact_links span:not(:last-child) {
    margin-right: 25px;
}
.header_contact_links a {
    color: #fff;
    display: flex;
    align-items: center;
    grid-gap: 10px;
    text-decoration: none;
}
.header_contact_links {
    width: 70%;
    display: flex;
    align-items: center;
}
.header_social_icons {
    width: 30%;
    grid-gap: 10px;
    display: flex;
    justify-content: flex-end;
}
.header_social_icons a {
    color: #fff;
    font-size: 20px;
}
.header_menu_bar {
    padding: 24px 0;
}
.header_main_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header_logo {
    width: 30%;
}
.header_logo a {
    font-size: 40px;
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}
.header_menu {
    width: 70%;
}
.header_menu .menu_list {
    list-style: none;
    display: flex;
    align-items: center;
    grid-gap: 35px;
    justify-content: flex-end;
}
.header_menu .menu_list a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    line-height: 1.3;
}
.header_menu .menu_list a:hover {
    color: var(--primary-color);
}
#footer {
    padding: 70px 0;
    background-color: var(--primary-color);
}
.footer_top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer_top > div {
    width: 33.33%;
}
.footer_logo a {
    font-size: 40px;
    text-transform: uppercase;
    color: #fff;
    line-height: 1;
    font-weight: 600;
    text-decoration: none;
}
.footer_menu .menu_list {
    list-style: none;
}
.footer_menu .menu_list li:not(:last-child) {
    margin-bottom: 15px;
}
.footer_menu .menu_list li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.3;
}
.footer_contact span {
    display: block;
    margin-bottom: 15px;
}
.footer_contact span a {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
.footer_title {
    color: #fff;
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 25px;
}
.footer_logo p {
    color: #fff;
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
}
.footer_logo {
    padding-right: 40px;
}
.footer_menu, .footer_contact {
    padding-left: 150px;
}
.copyright_sec {
    border-top: 1px solid #fff;
    padding-top: 50px;
    margin-top: 50px;
    text-align: center;
    color: #fff;
}
.inner_banner {
    background-position: center;
    background-size: cover;
}
.inner_banner {
    background-color: var(--primary-color);
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.inner_banner_content {
    color: #fff;
}
.inner_banner_content h1 {
    font-size: 40px;
    line-height: 1.3;
}
.inner_banner_content p {
    margin-top: 15px;
    line-height: 1.7;
}
.hero_sec {
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    position: relative;
}
.hero_sec:before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 1
}
.hero_content {
    z-index: 2;
    position: relative;
}
.hero_title {
    font-size: 50px;
    color: #fff;
    line-height: 1.3;
}
.hero_sub_title {
    color: #fff;
    font-size: 30px;
    line-height: 1.3;
    margin: 15px;
}
.hero_desc {
    color: #fff;
    font-size: 16px;
    line-height: 1.7;
}
.global_btn {
    margin-top: 30px;
}
.global_btn a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--primary-color);
    padding: 20px 40px;
    display: inline-block;
    border-radius: 16px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
}
.image_text_sec {
    padding: 80px 0;
}
.image_text_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.image_text_content .image_col {
    width: 50%;
    padding-right: 35px;
}
.image_text_content .text_col {
    width: 50%;
    padding-left: 35px;
}
.text_title {
    font-size: 44px;
    line-height: 1.3;
    color: var(--primary-color);
}
.text_sub_title {
    margin-top: 15px;
    font-size: 26px;
    line-height: 1.3;
}
.text_desc {
    margin-top: 20px;
    line-height: 1.6;
}
.cta_sec {
    padding: 50px 0 60px;
    background-color: #d9d9d9;
    text-align: center;
}
.sec_title {
    font-size: 40px;
    line-height: 1.3;
}
.description {
    font-size: 16px;
    line-height: 1.7;
    margin-top: 15px;
}
.cta_form {
    margin-top: 30px;
}
#newsletter_form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: min(100%, 450px);
    margin-inline: auto;
    flex-wrap: wrap;
}
#newsletter_form .email_field {
    width: calc(100% - 129px);
    margin: 0;
}
#newsletter_form input[type="email"] {
    font-size: 16px;
    line-height: 1.3;
    border-radius: 10px 0 0 10px;
    border-width: 1px;
    padding: 10px;
    outline: none;
    min-height: 55px;
    width: 100%;
    border-right: 0;
}
#newsletter_form input[type="email"].error {
    border-color: #f00;
}
#newsletter_form input[type="submit"] {
    font-size: 18px;
    line-height: 1.3;
    background-color: var(--primary-color);
    border: 0;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 30px;
    min-height: 55px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}
.contact_form_sec {
    padding: 70px 0;
}
.contact_content {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}
.contact_content .contact_items {
    width: 50%;
    background-color: var(--primary-color);
    padding: 40px;
    color: #fff;
}
.contact_content .form_sec {
    width: 50%;
    padding: 40px;
    box-shadow: 2px 2px 10px -3px #ccc;
}
.contact_item:not(:last-child) {
    margin-bottom: 30px;
}
.contact_item_title {
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 10px;
}
.contact_item p {
    font-size: 18px;
    line-height: 1.5;
}
.contact_item a {
    color: #fff;
    text-decoration: none;
}
.contact_item a:hover {
    color: #000;
}
.contact_form_sec .sec_title {
    text-align: center;
}
#contact_form input,
#contact_form textarea {
    font-size: 16px;
    line-height: 1.3;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 10px 15px;
    outline: none;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    min-height: 55px;
    background-color: #f8f8f8;
}
#contact_form > p:not(:last-child) {
    margin-bottom: 15px;
}
#contact_form input[type="submit"] {
    background-color: var(--primary-color);
    color: #fff;
    font-size: 18px;
    line-height: 1.3;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}
#contact_form input[type="submit"]:hover {
    background-color: #000;
}
#contact_form .error {
    color: #f00;
}
.posts_sec {
    padding: 70px 0;
}
.posts_list {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    grid-gap: 40px;
}
.post_item {
    width: calc(50% - 20px);
    box-shadow: 0 2px 6px -1px #ccc;
}
.post_img {
    display: flex;
    flex-wrap: wrap;
}
.post_img img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.post_content {
    padding: 20px 25px 35px;
}
.post_title a {
    font-size: 24px;
    line-height: 1.3;
    font-weight: 600;
    color: var(--primary-color);
    text-decoration: none;
}
.post_excert {
    margin-top: 15px;
    font-size: 16px;
    line-height: 1.7;
}
.post_btn {
    margin-top: 25px;
}
.post_btn a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 18px;
    line-height: 1;
}
.post_title a:hover,
.post_btn a:hover {
    color: #000;
}
.post_meta {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 15px;
    flex-wrap: wrap;
}
.post_meta span {
    font-size: 14px;
    color: #9b9b9b;
}
.post_meta span a {
    color: #9d9d9d;
    text-decoration: none;
}
.post_meta span a:hover {
    color: var(--primary-color);
}
.single_post {
    padding: 70px 0;
}
.single_post_inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.single_post_content {
    width: 70%;
    padding-right: 70px;
}
.sidebar {
    width: 30%;
}
.post_thumbnail img {
    width: 100%;
}
.post_meta {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-gap: 30px;
}
.post_cats {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-gap: 30px;
}
.post_cats a {
    text-decoration: none;
    color: var(--primary-color);
}
.post_cats a:hover {
    color: #000;
}
p:not(:last-child) {
    margin-bottom: 15px;
}
.sidebar_item:not(:last-child) {
    margin-bottom: 60px;
}
.sidebar_title {
    font-size: 22px;
    line-height: 1.3;
    margin-bottom: 20px;
}
.categories_list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 15px;
}
.categories_list a {
    text-decoration: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 15px;
    display: inline-block;
    font-size: 14px;
    line-height: 1;
}
.categories_list a:hover {
    background-color: #000;
}
.recent_post_item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.recent_post_item:not(:last-child) {
    margin-bottom: 30px;
}
.recent_post_img img {
    width: 100%;
    height: auto;
}
.recent_post_img {
    width: 80px;
}
.recent_post_content {
    width: calc(100% - 100px);
    margin-top: -10px;
}
.recent_post_content .post_title {
    line-height: 1.2;
}
.recent_post_content .post_title a {
    font-size: 15px;
    color: #000;
}
.recent_post_content .post_title a:hover{
    color: var(--primary-color)
}
.recent_post_content .post_date {
    margin-top: 5px;
    font-size: 14px;
    line-height: 1;
}
.recent_post_content .post_desc {
    font-size: 14px;
    line-height: 1.6;
}
.archive_posts_sec {
    padding: 70px 0;
}
.sec_padding {
    padding: 70px 0;
}
.not_found_content {
    text-align: center;
}
.load_more_btn {
    text-align: center;
    margin-top: 60px;
}